@import 'about.css';
/* Default CSS
=================================================*/
:root {
  --themeColor: #f20791;
  --transition: all 0.3s ease-in-out;
  --boxShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #6a6c72;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: 0 !important;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0 !important;
  color: #202647;
}

a:hover {
  text-decoration: none;
  color: #f20791;
}

p {
  font-size: 15px;
  line-height: 1.7;
  color: #6a6c72;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #202647;
}

.default-btn-one {
  display: inline-block;
  padding: 13px 30px;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #f20791;
  border: 1px solid #f20791;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}
.default-btn-two:hover {
  background-color: #ffffff;
  color: #f20791;
}
.default-btn-one:hover {
  background-color: #ffffff;
  color: #f20791;
}
.video-play-btn {
  padding: 10px 30px;
  font-size: 18px;
  margin-left: 5px;
}
.section-title {
	text-align: center;
	margin-bottom: 30px;
}

.section-title span {
  font-size: 14px;
  color: #f20791;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.section-title h3 {
  font-size: 38px;
  color: #202647;
  font-weight: bold;
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}
/* section-title-left */
.section-title h3::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 80px;
  background-color: #fab4a2;
  bottom: 0;
  left: 0;
  margin: auto;
}

.section-title h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 32px;
  background-color: #ff724e;
  bottom: 0;
  margin: 0 auto 0;
  left: 100px;
}
/* section-title-center */
.align-center.section-title h3::before {
position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    background-color: #fab4a2;
    bottom: 0;
    left: 0;
    right: 35px;
    margin: auto;
}
.align-center.section-title h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 32px;
    background-color: #ff724e;
    bottom: 0;
    margin: 0 auto 0;
    left: 95px;
    right: 0;
}
.bg-fafafa {
  background-color: #fafafa;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
/* scroll-top-indicator */
.scroll-top-indicator {
	position: fixed;
	right: 5px;
	bottom: 10px;
	width: 40px;
	height: 40px;
	background:var(--themeColor);
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	color: #FFF;
  border-radius: 50%;
  z-index: 99999;
  display: none;
}
.scroll-top-indicator i{
  font-weight: 700;
}
/* defalut end */
/*--------------------------------------
 header-area-start
 ------------------------------------- */
.project-hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #f4f4f4;
}
.nav-header ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-header ul li a {
	display: block;
	padding: 10px 25px;
	font-weight: 500;
	color: #131f58;
	font-size: 15px;
	transition: all 0.3s ease-in-out;
}
.nav-header ul li a:hover {
  color: var(--themeColor);
}
.nav-header ul li {
  position: relative;
}
.submenu {
	position: absolute;
	top: 100px;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	background-color: #ffffff;
	width: 180px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	transition: var(--transition);
	z-index: 99999;
}
.barnd-logo a {
	float: right;
	font-size: 22px;
	border: 1px solid#F4f4f4;
	padding: 0px 8px;
  border-radius: 3px;
  display: none;
}
.nav-header ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 50px;
}
.three-bars span {
  position: relative;
  display: block;
  margin: 5px 0px;
  width: 40px;
  height: 3px;
}
.three-bars span::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: #131f58;
  top: 0;
}
.three-bars span:nth-child(3)::before {
  width: 30px;
  right: 0px;
}
.three-bars span:hover.three-bars span:nth-child(3)::before {
  width: 40px;
}
.search-box-header {
  padding: 10px 0px;
  position: relative;
}
.search-bar {
	position: absolute;
	right: 70px;
	width: 300px;
	padding: 20px 10px;
	box-shadow: var(--boxShadow);
	top: 55px;
	display: none;
  z-index: 999;
  background:#FFF;
}
.search-bar input:focus{
  box-shadow: none;
  border: 1px solid var(--themeColor);
}
.form-control {
  height: calc(1.5em + 0.75rem + 15px);
}
.search-bar .form-group {
  margin-bottom: 0;
}
.search-bar input[type="text"] {
  position: relative;
}
.search-bar input[type="submit"] {
  position: absolute;
  right: 11px;
  top: 21px;
  height: calc(1.5em + 0.75rem + 15px);
  border: 0;
  width: 40px;
  border-radius: 1px;
  color: #fff;
  background-color: var(--themeColor);
  font-weight: 500;
}
.three-bars {
	float: right;
	padding: 0px;
	cursor: pointer;
	margin-top: -5px;
}
.search-icon {
	float: left;
	width: 100px;
	text-align: right;
	position: relative;
}
.barnd-logo {
	padding: 5px 0px;
}
.search-icon i {
	font-size: 20px;
	font-weight: 500px;
	cursor: pointer;
	transition: var(--transition);
	position: absolute;
	right: 40%;
}
.search-icon i.fa-close {
  display: none;
}
.search-icon i:hover {
  color: var(--themeColor);
}
/* background-animation */
.shape-wrapper {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.shape {
  position: absolute;
  top: 20%;
  animation-name: circle;
  left: 60px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.shape img {
  width: 150px;
}
.straightline {
  top: 7%;
}
.straightline img {
  width: 100%;
}
.tringle {
  top: 60%;
  animation-name: triangle;
  left: 60px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.tringle img {
  width: 100%;
}
.grdientTriangle img {
  width: 100%;
}
.grdientTriangle {
  position: absolute;
  animation-duration: 40s;
  animation-name: gradT;
  animation-iteration-count: infinite;
}
.straightlinegrad img {
  width: 100%;
}
.straightlinegrad {
  left: 25%;
  top: 25%;
  position: absolute;
  animation-duration: 10s;
  animation-name: straitGrad;
  animation-iteration-count: infinite;
}
.right-pos {
  right: 20%;
  top: 20%;
  animation-name: zoom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all 5s ease-in-out;
}

.top-pos {
  position: absolute;
  right: 5%;
  top: 80%;
  animation-name: gradright;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
}
.bottom-20 {
  bottom: 10%;
}
.right-20 img {
  width: 100%;
}
.right-20 {
  right: 5%;
  position: absolute;
  top: 20%;
  animation-name: gradright;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.target img {
  width: 100%;
}
.target {
  position: absolute;
  top: 60%;
  left: 20%;
}
.shape-text {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.shape-text h2 {
  display: inline-block;
  font-size: 180px;
  font-weight: 900;
  color: #f9f8fc;
  z-index: -2;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle {
  50% {
    left: 80px;
  }
  100% {
    left: 60px;
  }
}
@keyframes triangle {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes gradT {
  0% {
    left: 50%;
    top: 50%;
  }
  25% {
    left: 70%;
    top: 50%;
    transform: rotate(90deg);
  }
  50% {
    left: 70%;
    top: 70%;
    transform: rotate(180deg);
  }
  75% {
    left: 50%;
    top: 70%;
    transform: rotate(270deg);
  }
  100% {
    left: 50%;
    top: 50%;
    transform: rotate(360deg);
  }
}
@keyframes straitGrad {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes gradright {
  50% {
    right: 10%;
  }
  100% {
    right: 5%;
  }
}

/* hero-content */
.inner-content h2 {
  font-size: 72px;
  font-weight: 500;
}
.inner-content p {
  font-size: 18px;
}
.hero-btn {
  margin-top: 50px;
}
.video-play-btn i {
	color: var(--themeColor);
	font-size: 8px;
	border: 1px solid;
	border-radius: 50%;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}
.inner-content-right img {
  width: 300px;
}
.inner-content-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-content-wrap-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.default-btn-two {
	padding: 8px 30px;
	display: inline-block;
	border-radius: 30px;
	background: #f20791;
	color: #fff;
	border: 1px solid #f20791;
}
.default-btn-two:hover {
  background: #ffffff;
  color: #f20791;
}
.sigle-feature-box {
  text-align: center;
  box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
  padding: 40px 20px;
  background: #f1eff8;
  transition: all 0.5s ease-out;
  margin-bottom: 50px;
  border: 1px dotted transparent;
}
.sigle-feature-box:hover {
  background: transparent;
  border: 1px dotted var(--themeColor);
}
.feature-icon i::before {
  margin-left: 0;
  font-size: 30px;
  color: #9986e0;
  border: 2px dotted;
  border-radius: 50%;
  margin-bottom: 14px;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.sigle-feature-box h4 {
  color: #3b3663;
  font-size: 20px;
}
.color-1 {
  background: #f207901a;
}
.color-2 {
  background: #e9ae7b5e;
}
.color-3 {
  background: #caf8ef32;
}
.sigle-feature-box.color-1 i:before {
  color: #f20790;
}
.sigle-feature-box.color-2 i:before {
  color: #e79145;
}
.sigle-feature-box.color-3 i:before {
  color: #24f0c7;
}
.sigle-feature-box.color-1 {
  margin-top: -30px;
}
.sigle-feature-box.color-2 {
  margin-top: -30px;
}
.projects {
  margin-right: 100px;
  margin-top: 15px;
}
.projects h2 {
  font-weight: 900;
  color: #3b3663;
}
.projects h2 span {
  color: #ff724e;
}
.projects h6 {
  color: #8f8f8f;
}
.title-with-content {
  margin-top: 100px;
}
.servicesection {
  background: #f6f5fb;
  position: relative;
}
.feature-icon.service i::before {
  background: #caf8ef;
  border: 0;
}

.sigle-feature-box.service-box {
  box-shadow: none;
  transition: var(--transition);
  background: #ffffff;
}
.sigle-feature-box.service-box:hover {
  background: var(--themeColor);
  margin-top: -20px;
}
.sigle-feature-box.service-box:hover a {
  color: #fff;
}
.sigle-feature-box.service-box:hover p {
  color: #ffffff;
}
.sigle-feature-box.service-box:hover .feature-icon.service i:before {
  background: #ffffff;
  color: var(--themeColor);
}
.feature-icon.service.second-icon i:before {
  background: #e7914555;
  color: #e79145;
}
.feature-icon.service.third-icon i:before {
  background: #a99edf;
  color: #f6f5fb;
}
.feature-icon.service.fourth-icon i:before {
  background: #f2079063;
  color: #f20790;
}
.feature-icon.service.fifth-icon i:before {
  background: #77054736;
  color: #770548;
}
.feature-icon.service.sixth-icon i:before {
  background: #07f28463;
  color: #07f284;
}

/* -------------- */
.single-check span {
  position: relative;
}
.single-check span {
  float: left;
  margin-top: 10px;
}
.single-check span::before {
  color: var(--themeColor);
  background-color: #f4f4f4;
  font-size: 14px;
  padding: 8px;
  border-radius: 50%;
  margin-left: 0;
  transition: var(--transition);
}
.check-bottom {
  padding-left: 50px;
}
.check-bottom h4 {
  font-size: 18px;
  font-weight: 500;
}
.single-check {
  margin-bottom: 20px;
}
.single-check:hover span::before {
  background: var(--themeColor);
  color: #ffffff;
}
.why-chooseus-left a {
  padding: 10px 30px;
}
.why-choose-us.ptb-100 img {
  width: 100%;
  margin-top: 50px;
}
/* tab-area */
.boosting-item-tab ul li a {
  text-align: center;
  box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
}

.boosting-item-tab ul li a span::before {
  padding: 5px;
}
.boosting-item-tab ul li a span::before {
  padding: 5px;
  margin-left: 0;
  display: block;
  font-size: 30px;
}
.color-bg-1 {
  /* background:#07f28463; */
  color: #2e5341;
  background: linear-gradient(to right, #98afa4a6, #def8ec9f);
}
.color-bg-2 {
  color: #924b75;
  background: linear-gradient(to right, #c373a23d, #eeacd2);
}
.color-bg-3 {
  color: #f20790;
  background: linear-gradient(to right, #72676d63, #e9e2e6);
}
.color-bg-4 {
  color: #f6f5fb;
  background: linear-gradient(to right, #7a73a060, #504c6254);
}
.color-bg-5 {
  color: #dd6f0e;
  background: linear-gradient(to right, #8d715855, #79593d71);
}
.color-bg-6 {
  color: #220214;
  background: linear-gradient(to right, #f6f4f636, #9b77aa60);
}

.content-left-right {
  display: flex;
  justify-content: space-between;
}
.content-left span {
  float: left;
}
.content-left p {
  padding-left: 50px;
}
.content-left span::before {
  color: #e79145;
  margin-left: 0;
  font-size: 34px;
}
.real-time-content-wrapper.text-left a {
  padding: 10px 30px;
  margin-top: 30px;
}
.sigle-tab-content {
  padding: 40px 20px;
  margin: 20px 0px;
  box-shadow: var(--boxShadow);
  position: relative;
  overflow: hidden;
}
.corner-shape img {
  width: 100%;
}
.corner-shape {
  position: absolute;
  right: -30px;
  bottom: -40px;
}
.boosting-item-tab.mb-3 ul li {
  display: inline-block;
  width: 15.8%;
  margin: 5px;
}
.boosting-item-tab.mb-3 ul li:last-child {
  margin-right: 0;
}

/* project-area */
.single-project {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}
.single-project img {
  width: 100%;
}
.single-project span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  bottom: -60px;
  /* right: 40%; */
  display: block;
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  font-size: 22px;
  transition: all 0.5s ease-in-out;
}
.single-project:hover {
  box-shadow: var(--boxShadow);
  margin-top: -8px;
}
.single-project:hover span {
  bottom: 0px;
}
/* team-section */
.team-section {
  background: #f6f5fb;
  position: relative;
}
.single-team-wrapper {
	background: #ffffff;
	margin-bottom: 20px;
}
.team-image img {
  width: 100%;
}
.team-content.text-center h6 {
  display: block;
  margin-top: 25px;
  font-size: 22px;
  color: #4b4b4b;
}
.team-content span {
  color: #9f9f9f;
}
.team-content.text-center ul li {
  display: inline-block;
}
.team-content.text-center ul li a {
  color: var(--themeColor);
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  margin: 0px 3px;
  transition: var(--transition);
}
.team-content.text-center ul li a:hover {
  background: var(--themeColor);
  color: #fff;
  border: 1px solid var(--themeColor);
}
.team-content.text-center ul {
  padding: 20px;
}
/* testimonial-section */
.single-slide-wrapper {
  margin-top: 70px;
  position: relative;
}
.slide-img {
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-img img {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}
.slide-text {
  background: #f1eff8;
  border-radius: 10px;
  padding: 80px 40px;
  text-align: center;
}
.slide-text span {
  display: block;
  color: #838383;
}
.slide-text i {
  color: #838383;
  font-size: 24px;
  margin: 5px 0px;
}
.single-slide-wrapper::before {
  content: "";
  position: absolute;
  width: 106px;
  height: 106px;
  background: var(--themeColor);
  left: 50%;
  top: -2%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.testimonial-text-content {
  margin-top: 70px;
}
.testimonial-slider-wrapper.testimonial.owl-carousel.owl-theme.owl-loaded.owl-drag .owl-dots span{
  width: 15px;
  height: 15px;
  margin: 15px 7px;
  background: #d6d6d6;
  display: block;
}
.testimonial-slider-wrapper.testimonial.owl-carousel.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: var(--themeColor);
}
.contact-analysis input[type="text"] {
	width: 100%;
	border-bottom: 1px solid #f4f4f4;
	border-top: 0;
	border-left: 0;
	border-right: 0;
  padding-bottom: 30px;
  transition: var(--transition);
}
.contact-analysis input[type="text"]:focus{
  border-bottom: 1px solid var(--themeColor);
  color: #6a6c72;
}
.contact-analysis input[type="text"]::placeholder{
  color: #6a6c72;
}
.contact-analysis input[type="submit"]{
  padding: 10px 30px;
  margin-top: 5px;
}
/* blog-area */
.single-blog-wrapper {
	border: 1px solid #f4f4f4;
	transition: var(--transition);
	margin-bottom: 20px;
}
.single-blog-wrapper:hover{
  box-shadow: var(--boxShadow);
}
.single-blog-wrapper:hover .default-btn-two{
  background: transparent;
  color: var(--themeColor);
}
.blog-text-content.text-left {
	padding: 14px;
}
.blog-img {
	position: relative;
}
.blog-date {
	position: absolute;
	right: 10px;
	bottom: -17px;
	text-align: center;
	background: #f20791;
	padding: 3px;
}
.blog-date span {
	display: block;
	color: #FFF;
	font-size: 12px;
	font-weight: 500;
}
.blog-text-content ul{
  margin:5px 0px;
}
.blog-text-content ul li {
	display: inline-block;
  font-size: 12px;
  color: #B1B3B9;
}
.blog-text-content ul li i{
  margin-right: 5px;
}
.blog-text-content ul li a {
	color: #B1B3B9;
  margin-right: 10px;
  display: block;
}
.blog-text-content h4 {
	font-size: 17px;
}
.blog-text-content p {
	font-size: 13px;
}
.blog-text-content .default-btn-two {
	padding: 5px 15px;
	display: inline-block;
	border-radius: 30px;
	background: #f20791;
	color: #fff;
	border: 1px solid #f20791;
}
/* cta-section */
.call-to-action-section {
	background: #f4f4f4;
	padding: 40px 0px;
}
.cta-right {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.cta-right form {
	width: 100%;
}
.cta-right form input[type="text"] {
	width: 75%;
	border: 0;
	padding: 15px;
	border-radius: 5px;
}

.cta-right form input[type="submit"] {
	width: 25%;
	padding: 15px;
	border: 0;
	margin-left: -5px;
	background: var(--themeColor);
	color: #FFF;
  border-radius: 5px;
  transition: var(--transition);
}
.cta-right form input[type="submit"]:hover{
  background: #060c2a;
}
.cta-left h4 {
	color: #060c2a;
}
.cta-left span {
	color: rgb(30, 51, 90);
}
.footer-widget-section.ptb-100 {
	position: relative;
}
.footer-widget-section{
  background: url(assets/img/shape/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
}
.footer-widget-section h4 {
	color: #FFF;
	font-size: 20px;
	border-bottom: 1px solid #616161;
	padding: 15px 0px;
	margin-bottom: 15px;
}
.footer-widget-section::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #202647;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.5;
}
.single-widget-footer ul li a {
	color: #D4D4D4;
}
.single-widget-footer p{
  color: #D4D4D4;
}
.social-icon li {
	display: inline-block;
}
.social-icon{
  margin-top: 10px;
}
.social-icon li a {
	display: block;
	background: #fff;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
  color: var(--themeColor);
  margin-right: 5px;
  font-size: 14px;
  transition: var(--transition);
}
.social-icon li a i{
  color: var(--themeColor);
}
.social-icon li a:hover{
  background: var(--themeColor);
}
.social-icon li a:hover i{
  color:#FFF;
}
.single-widget-footer.links ul li a {
	padding-bottom: 20px;
  display: block;
  transition: var(--transition);
}
.single-widget-footer.links ul li a:hover{
  color:var(--themeColor);
}
.widget-inner{
  margin-bottom: 20px;
}
.widget-inner i {
	float: left;
	margin-right: 8px;
  font-size: 20px;
  color:#D4D4D4;
}
.phn-info {
	padding-left: 30px;
	font-weight: 700;
  font-size: 17px;
  color:#D4D4D4
}
.footer-bottom {
	padding: 25px 0px;
	justify-items: center;
	background: #0f021e;
}
.footer-bottom ul li a{
  color:#D4D4D4;
}
.footer-bottom ul li{
  color: #D4D4D4;
}
/* footer-bg-animation */
.animation-close2{
  position: absolute;
  bottom: 10%;
  right:10%;
  font-size: 24px;
  color:#e2c472;
  animation-name: close-icon-2;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index:0;
  opacity: 0.5;
}
.animatio-close i{
  position: absolute;
  top: 10%;
  left:10%;
  font-size: 24px;
  color:#b60f5d;
  animation-name: close-icon;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index:0;
  opacity: 0.5;
}
.animatio-close-3 i{
  position: absolute;
  right: 40%;
  bottom:40%;
  font-size: 24px;
  color:#900546;
  animation-name: close-icon-3;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index:0;
  opacity: 0.5;
}
.animatio-close-team{
  position: absolute;
  top: 10%;
  right:10%;
  font-size: 24px;
  color:#70430f;
  animation-name: close-icon-team;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index:0;
  opacity: 0.5;
}
@keyframes close-icon{
    0% {
    left: 10%;
    top: 10%;
  }
  25% {
    left: 30%;
    top: 10%;
    transform: rotate(90deg);
  }
  50% {
    left: 30%;
    top: 30%;
    transform: rotate(180deg);
  }
  75% {
    left: 30%;
    top: 30%;
    transform: rotate(270deg);
  }
  100% {
    left: 10%;
    top: 10%;
    transform: rotate(360deg);
  }

}
@keyframes close-icon-team{
    0% {
    right: 10%;
    top: 10%;
  }
  25% {
    right: 30%;
    top: 10%;
    transform: rotate(90deg);
  }
  50% {
    right: 30%;
    top: 30%;
    transform: rotate(180deg);
  }
  75% {
    right: 30%;
    top: 30%;
    transform: rotate(270deg);
  }
  100% {
    right: 10%;
    top: 10%;
    transform: rotate(360deg);
  }

}
@keyframes close-icon-2{
    0% {
    right: 10%;
    bottom: 10%;
  }
  25% {
    right: 30%;
    bottom: 10%;
    transform: rotate(90deg);
  }
  50% {
    right: 30%;
    bottom: 30%;
    transform: rotate(180deg);
  }
  75% {
    right: 30%;
    bottom: 30%;
    transform: rotate(270deg);
  }
  100% {
    right: 10%;
    bottom: 10%;
    transform: rotate(360deg);
  }

}
@keyframes close-icon-3{
    0% {
    right: 40%;
    bottom: 40%;
  }
  25% {
    right: 80%;
    bottom: 40%;
    transform: rotate(90deg);
  }
  50% {
    right: 80%;
    bottom: 10%;
    transform: rotate(180deg);
  }
  75% {
    right: 40%;
    bottom: 10%;
    transform: rotate(270deg);
  }
  100% {
    right: 40%;
    bottom: 40%;
    transform: rotate(360deg);
  }

}
/* sidebar-modal-area */
.sidebar-modal-section{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}
.sidebar-inner-content{
  width: 30%;
  position: fixed;
  right:0%;
  top: 0;
  margin-right: -30%;
  height: 100%;
  background: #FFFFFF;
  z-index: 1;
  padding: 40px 40px;
  overflow-y: scroll;
  transition: 1s ease-in-out;
}
.sidebar-inner-content h4{
  margin-bottom: 20px;
}
.sidebar-midle ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.sidebar-midle ul li {
	width: 25%;
  padding: 2px;
}
.sidebar-midle ul li a{
  display: block;
  position: relative;
}
.sidebar-midle ul li a::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: var(--transition);
}
.sidebar-midle ul li a:hover::before{
  opacity: 1;
}
.sidebar-midle ul li a img{
 max-width: 100%;
}
.sidebar-midle {
	margin: 15px 0px;
}
.sidebar-bottom span {
	display: block;
	font-size: 20px;
}
.sidebar-bottom span:nth-child(1){
  color: var(--themeColor);
  font-weight: 500;
}
.sidebar-bottom span:nth-child(3){
  color:#0f021e;
  font-weight: 500;
}
.sidebar-bottom {
  margin-top:20px;
}
.close-btn-sidebar {
	position: absolute;
	right: 40px;
	top: 10px;
	font-size: 22px;
	color: #979797;
}
.sidebar-bottom ul{
  margin: 20px 0;
}
.sidebar-bottom ul li {
	display: inline-block;
}
.sidebar-bottom ul li a{
  display: block;
	background: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
  color: var(--themeColor);
  margin-right: 5px;
  font-size: 14px;
  transition: var(--transition);
  border: 1px solid;
}	
.sidebar-bottom ul li a:hover{
  background:var(--themeColor);
  color: #FFF;
}

/* sticky-nav */
.fixedNav{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  box-shadow: var(--boxShadow);
  background: #FFFFFF;
}
#header {
	z-index: 9999;
	background: #FFF;
}
.header-wrapper {
	position: relative;
}
.submenu li {
	display: block;
	width: 100%;
}